html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

}


.aside {
	position: fixed;
	width: 25%;
	height: 100%;
	border: 1px dashed grey;
	padding: 0;
	background-color: #5a5454;
}

.logo {
	background-color: red;
	width: 100%;
	height: 8%
	margin-top: 0;

}
.logo>a{
	width: 100%;
	color: white;
	text-decoration: none;

}
.main-menu {
	
}
.footer {
	font-size: 1.3em;
	bottom: 0;
	background-color: #211e1e;
	width: 100%;
	height: 8%
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.wall {

	/*padding: 10px;*/
	margin-left: 25%;
	width: 74%;
	border: 3px dashed red;
	font-size: 1.3em;
}



/**


медиа запросы

**/
/*
Медиазапрос заработает только когда min-width будет больше или равна 600 px.
*/
@media screen and (min-width: 600px) {
  .aside {
    display: visible;
  }
}

@media screen and (max-width: 600px) {
	.aside {
		display: none;

	}
	.wall {
		width: 100%;
		margin-left: 0;
	}
}